<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <title>Predict Fruit class</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">

    <meta charset="UTF-8">
    <title>Title</title>

    <p> result </p>

    <br> <img src="../static/output_images/cnn.jpg" alt="CNN output" class="cf_img"/> <br>
    <br> <img src="../static/output_images/cnn.jpg" alt="Triplet output" class="cf_img"> <br>

{#    <button type="submit" class="btn btn-primary btn-block btn-large" onclick= > Predict </button>#}
    <a href="./index.html"> Continue </a>
</head>
<body>

</body>
</html>